.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; //don't forget to put position relative on section-stories in _home 
    z-index: -1;
    opacity: .15;
    //to fix too big width of the video, it will hide it
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        //similar to background cover to fir the parent element
        object-fit: cover;
    }
}